.more-link {
  @extend %ten-pixels;
  @extend %uppercase;
  display: inline-block;
  padding: 8px 18px;
  margin-right: 12px;
  border: solid 1px $color-gray-67;
}
.comments-link {
  @extend %ten-pixels;
  @extend %uppercase;
  transition: color 0.1s ease-in-out;

  i {
    margin-right: 3px;
  }
  a {

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
}
// allow comments to sit next to button
.blog,
.archive,
.search {

  .post-content {

    p:last-of-type {
      display: inline-block;
      margin: $baseline-height / 2 0 0;
    }
  }
}

@media all and (min-width: $seven-hundred) {

  .more-link,
  .comments-link {
    font-size: 0.75em; /* 12px / 16px */
    line-height: 1.5; /* 18px */
    letter-spacing: 0.05em;
  }
}

@media all and (min-width: $nine-hundred) {

  .blog,
  .archive,
  .search {

    .entry {
      width: $column * 10.5 * 1.09;
      float: left;

      &:nth-of-type(odd) {
        margin-right: $column;
      }
    }
  }
}