.more-link {
  @extend %ten-pixels;
  @extend %uppercase;
  display: inline-block;
  padding: 9px 16px;
  margin-right: 12px;
  background: $color-gray-17;
  color: white;
  transition: all 0.1s ease-in-out;

  &:link,
  &:visited {
    color: white;
  }
  &:hover,
  &:active,
  &:focus {
    background: $color-gray-33;
    color: white;
  }
}
.comments-link {
  @extend %ten-pixels;
  @extend %uppercase;
  color: $color-gray-17;
  transition: color 0.1s ease-in-out;

  i {
    margin-right: 3px;
  }
  a {
    color: $color-gray-17;

    &:link,
    &:visited {
      color: $color-gray-17;
    }
    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
      color: $color-gray-17;
    }
  }
}
.post-content {

  .more-link,
  .comments-link a {
    text-decoration: none;
  }
}
.full-post {

  .comments-link {
    display: block;
    margin: $baseline-height * 2 0;
  }
}
// allow comments to sit next to button
.blog,
.archive,
.search {

  .post-content {
    text-align: center;

    // so i can un-center everything except the p containing more-link
    // this allows the more-link and comments link to both be centered next to each other
    ul,
    p:not(:last-of-type) {
      text-align: left;
    }
    p:last-of-type {
      font-size: 0.9412em;
      line-height: 1.5; // to keep from scaling up smaller text due to 17px post-content
      display: inline-block;
      margin: $baseline-height / 2 0 0;
    }
  }
}
.entry.sticky {
  position: relative;
}
.sticky-status span {
  @extend %twelve-pixels;
  @extend %uppercase;
  position: absolute;
  top: 0;
  left: 0;
  padding: 9px 18px;
  background: $color-gray-17;
  color: white;
}
.search .sticky-status {
  display: none;
}
.entry:not(.has-post-thumbnail) {

  .sticky-status {
    margin-bottom: $baseline-height;

    span {
      position: relative;
    }
  }
}

@media all and (min-width: $seven-hundred) {

  .more-link,
  .comments-link {
    font-size: 0.75em; /* 12px / 16px */
    line-height: 1.5; /* 18px */
  }
}

@media all and (min-width: $nine-hundred) {

  // put posts into 2 columns
  .blog,
  .archive,
  .search {

    .entry {
      width: $column * 10.5 * 1.09;
      float: left;

      &:nth-child(even) {
        margin-right: $column * 1.09;
      }
    }
    .post-header,
    .post-content {
      text-align: left;
    }
  }
  .blog:not(.posts-page-1),
  .archive,
  .search {

    .entry:nth-child(odd) {
      margin-right: $column * 1.09;
    }
    .entry:nth-child(even) {
      margin-right: 0;
    }
  }
  // make first post extra wide on first page of blog/archives
  .posts-page-1 {

    .entry {

      &:first-of-type {
        width: 100%;
        float: none;

        .post-title {
          font-size: 3.188em; /* 51px / 16px */
          line-height: 1.314; /* 67px */
        }
        .post-header,
        .post-content {
          padding: 0 $column * 2 * 1.09;
          text-align: center;
        }
      }
    }
  }
}

@media all and (min-width: $eleven-hundred) {

  .posts-page-1 {

    .entry {

      &:first-of-type {

        .post-content {
          padding: 0 $column * 3 * 1.09;
        }
      }
    }
  }
}

@media all and (min-width: $twelve-hundred) {

  .posts-page-1 {

    .entry {

      &:first-of-type {

        .post-content {
          padding: 0 $column * 4 * 1.09;
        }
      }
    }
  }
}