.comment-respond {

  label {
    @extend %twelve-pixels;
    display: block;
    margin-bottom: 0.5em;
  }
  .comment-form-cookies-consent {

    input {
      position: relative;
      top: -2px;
    }
    label {
      display: inline-block;
    }
  } 
}
.comment {

  .comment-respond {
    margin-top: $baseline-height;
  }
  #cancel-comment-reply-link {
    font-size: 16px;
    line-height: 1.5;
    margin-left: 6px;
  }
}