.site-header {
  text-align: center;
  padding-top: 39px;
}
.toggle-navigation {
  display: block;
  background: none;
  margin: 0 auto;
  padding: 0;
  border: none;

  &:hover {
    cursor: pointer;
  }
}
.title-container {
  margin: $baseline-height * 1.5 0;
}
.site-title {
  @extend %thirty-eight-pixels;
}
.tagline {
  @extend %ten-pixels;
  @extend %uppercase;
  margin: 0;
}
.social-media-icons {
  list-style: none;
  margin: -6px auto $baseline-height * 1.5;

  li {
    display: inline-block;
    margin-right: $baseline-height * 0.75;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media all and (min-width: $seven-hundred) {

  .site-title {
    font-size: 3.188em; /* 51px / 16px */
    line-height: 1.314; /* 67px */
  }
  .tagline {
    font-size: 0.75em; /* 12px / 16px */
    line-height: 1.5; /* 18px */
  }
}
@media all and (min-width: $nine-hundred) {

  .site-header {
    padding-top: $baseline-height * 1.5;
  }
  .title-container {
    margin: $baseline-height * 2 0 $baseline-height * 3;
  }
  .toggle-navigation {
    display: none;
  }
  .social-media-icons {
    margin: 0;
    text-align: right;
  }
}

@media all and (min-width: $eleven-hundred) {

  .title-container {
    margin: $baseline-height * 3 0 $baseline-height * 4;
  }
  .site-title {
    font-size: 4.188em; /* 67px / 16px */
    line-height: 1.343; /* 90px */
  }
}