.site-header {
  text-align: center;
  padding-top: $baseline-height * 2;
}
.toggle-navigation {
  display: block;
  background: none;
  margin: 0 auto;
  padding: 0;
  border: none;

  &:hover {
    cursor: pointer;
  }
}
.title-container {
  margin: $baseline-height * 1.5 0;
}
.site-title {
  @extend %thirty-eight-pixels;
}
.tagline {
  @extend %ten-pixels;
  @extend %uppercase;
  margin: 0;
}

@media all and (min-width: $eight-hundred) {

  .site-title {
    font-size: 3.188em; /* 51px / 16px */
    line-height: 1.314; /* 67px */
  }
}
@media all and (min-width: $nine-hundred) {

  .toggle-navigation {
    display: none;
  }
}

@media all and (min-width: $one-thousand) {

  .site-title {
    font-size: 4.188em; /* 67px / 16px */
    line-height: 1.343; /* 90px */
  }
  .tagline {
    font-size: 0.75em; /* 12px / 16px */
    line-height: 1.5; /* 18px */
  }
}