.site-header {
  text-align: center;
  padding: $baseline-height * 2 $column 0;
}
.toggle-navigation {
  display: block;
  background: none;
  margin: 0 auto;
  padding: 0;
  border: none;

  &:hover {
    cursor: pointer;
  }
}
.title-container {
  margin: $baseline-height * 1.5 0;
}
.tagline {
  @extend %ten-pixels;
  @extend %uppercase;
  margin: 0;
}