.menu-primary-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}
.menu-primary {
  margin-bottom: $baseline-height * 1.5;

  ul {
    list-style: none;
    margin: 0;

    > .current-menu-item:first-child,
    > .current_page_item:first-child {
      margin-top: 1px;
    }
  }
  li {
    margin-bottom: 6px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  a {
    @extend %twelve-pixels;
    @extend %uppercase;
    display: inline-block;
    padding: 9px 12px;

    &:focus {
      text-decoration: underline;
    }
  }
  .current-menu-item,
  .current_page_item {

    > a {
      outline: solid 1px $color-gray-23;
    }
    &.menu-item-has-children {

      > a {
        margin-left: 16px;

        + .toggle-dropdown {
          margin: 0 0 0 8px;
        }
      }
    }
  }
}
.menu-primary-items {

  ul {
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;

    li {
      margin: 0;
    }
  }
  .open {

    > ul {
      max-height: 999px;
    }
    > .toggle-dropdown {
      transform: rotate(180deg);
    }
  }
}
.toggle-dropdown {
  margin: 0 0 0 -8px; // margin on left and  moves itself over to keep the menu item centered
  padding: 0;
  font-size: 1em;
  line-height: 1;
  background: none;
  border: none;
  color: $color-gray-40;
  transition: transform 0.1s ease-in-out;

  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  &:after {
    content: '\f107';
    font-family: 'FontAwesome';
  }
}

// when dropdown opened
.open.menu-primary-container {
  max-height: 999px;
}

@media all and (min-width: $nine-hundred) {

  .menu-primary-container {
    max-height: none;
    overflow: visible;
  }
  .menu-primary {
    display: inline-block;
    text-align: left;
    float: left;

    li {
      position: relative;
      display: inline-block;
      margin: 0;
    }
    .current-menu-item,
    .current_page_item {

      &.menu-item-has-children,
      &.page_item_has_children {

        > a {
          margin-left: 0;
        }
      }
    }
    ul {

      > .current-menu-item:first-child,
      > .current_page_item:first-child {
        margin-top: 0;
      }
    }
    a {

      &:focus {
        outline: none;
      }
    }
  }
  .menu-primary-items {

    ul {
      position: absolute;
      max-height: none;
      z-index: 29;
      visibility: hidden;
      overflow: visible;
      opacity: 0;
      top: 100%;
      top: calc(100% + 6px);
      left: -$baseline-height;
      backface-visibility: hidden;
      background: white;
      padding: 0 $baseline-height $baseline-height / 2;
      transition: all 0.1s ease-in-out;

      &:hover,
      &.focused {
        visibility: visible;
        top: 100%;
        top: calc(100% + 1px);
        opacity: 1;
      }
      a {
        width: 100%;
      }
      // make room for dropdown button
      .menu-item-has-children {

        > a {
          width: calc(100% - 16px);
        }
      }
      li {
        display: block;
        z-index: 9;
        white-space: nowrap;
        margin: 0 0 6px 0;

        &:first-child {
          margin-top: 0;
        }
      }
      .toggle-dropdown {
        margin: 0 0 0 -2px;

        &:after {
          content: '\f105';
        }
      }
    }
    .menu-item-has-children {

      &:hover {

        > button {
          transform: translate(0, 2px);
        }
      }
      li {
         margin-right: 0;
      }
      > a {
        position: relative;
        z-index: 9;

        &:hover,
        &:active,
        &:focus {

          ~ ul {
            visibility: visible;
            top: 100%;
            top: calc(100% + 1px);
            opacity: 1;
          }
          + button {
            transform: translate(0, 2px);
          }
        }
        &:hover,
        &:active {

          &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            height: 24px;
          }
        }
      }
      // tier 3
      .menu-item-has-children {

        &:hover {

          > button {
            transform: translate(2px, 0);
          }
        }
        > a {
          &:hover,
          &:active,
          &:focus {

            + button {
              transform: translate(2px, 0);
            }
            ~ ul {
              top: 0;
              left: 100%;
            }
          }
          &:hover,
          &:active {

            &:after {
              top: 0;
              bottom: 0;
              left: 100%;
              width: 36px;
            }
          }
        }
        ul {
          left: 100%;
          left: calc(100% + 6px);
          top: 0;

          &:hover,
          &.focused {
            top: 0;
            left: 100%;
          }
        }
      }
    }
  }
  .menu-primary .current-menu-item.menu-item-has-children > a + .toggle-dropdown {
    margin: 0 12px 0 8px;
  }
  .toggle-dropdown {
    margin: 0 12px 0 -8px;
  }
}