.entry {
  margin-bottom: $baseline-height * 2;
}
.featured-image {
  position: relative;
  height: 0;
  padding-bottom: 50%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  > a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 0;
  }
}
.post-header {
  margin: $baseline-height 0;
  text-align: center;
}
.post-content {
  @extend %seventeen-pixels; // just a bit too hard to read at 16px;
}
.post-date {
  @extend %ten-pixels;
  @extend %uppercase;
  display: block;
}
.post-meta {
  margin: $baseline-height * 2 0;
}
.post-categories,
.post-tags {
  @extend %twelve-pixels;

  span {
    @extend %uppercase;
    margin-right: 2em;
  }
  a {
    text-decoration: underline;
    margin-right: $baseline-height;
  }
}
.post-tags {

  ul {
    list-style: none;
    display: inline-block;
    margin: 0;
  }
  li {
    display: inline-block;
  }
}
.further-reading {
  margin: $baseline-height 0 $baseline-height * 2;
  padding: $baseline-height * 1.5 0;
  border-top: solid 1px $color-gray-85;
  border-bottom: solid 1px $color-gray-85;

  span {
    @extend %ten-pixels;
    @extend %uppercase;
    display: block;
  }
  a {
    @extend %seventeen-pixels;
  }
  .previous {
    margin-bottom: $baseline-height;
  }
}

@media all and (min-width: $seven-hundred) {

  .entry {
    margin-bottom: $baseline-height * 3;
  }
  .post-title {
    font-size: 2.375em; /* 38px / 16px */
    line-height: 1.342; /* 51px */
  }
  .post-date {
    font-size: 0.75em; /* 12px / 16px */
    line-height: 1.5; /* 18px */
  }
  .post-categories,
  .post-tags {
    display: inline-block;
  }
  .post-categories {
    margin-right: $baseline-height;
  }
  .further-reading {

    div {
      display: inline-block;
      vertical-align: top;
      width: 47%;
    }
    .next {
      text-align: right;
    }
    .previous {
      float: left;
      margin-right: 6%;
      margin-bottom: $baseline-height * 1.5;
    }
  }
}

@media all and (min-width: $nine-hundred) {

  .singular {

    .post-header,
    .post-content,
    .post-meta {
      padding: 0 $column * 2 * 1.09;
    }
    .post-header {
      margin: $baseline-height * 1.5 0;
    }
    .post-title {
      font-size: 3.188em; /* 51px / 16px */
      line-height: 1.314; /* 67px */
    }
  }
}

@media all and (min-width: $eleven-hundred) {

  .singular {

    .post-content,
    .post-meta {
      padding: 0 $column * 3 * 1.09;
    }
  }
}

@media all and (min-width: $twelve-hundred) {

  .singular {

    .post-content,
    .post-meta {
      padding: 0 $column * 4 * 1.09;
    }
  }
}