@import "variables";

#sub-accordion-section-ct_chosen_social_media_icons {

  #customize-control-email-form {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: solid 1px #d5d5d5;
  }
  #customize-control-social_icon_custom_1_name,
  #customize-control-social_icon_custom_2_name,
  #customize-control-social_icon_custom_3_name {
    padding-top: 18px;
    margin-top: 18px;
    border-top: solid 1px #d5d5d5;
  }
}
.upgrades-ad {
  
  a {
    display: block;
    padding: 12px 24px;
    text-align: center;
    color: white;
    text-decoration: none;
    background: #05B0E7;
    transition: background 0.2s;

    &:hover {
      background: #3FBEE8;  
    }
  }
}
// Chosen Pro section
#accordion-section-ct_chosen_pro {

  .accordion-section-title {
    color: #fff;
    background: #05B0E7;
    transition: background 0.2s;

    &:after {
      color: #fff;
    }

    &:hover,
    &:active,
    &:focus {
      background: #3A96B5 !important;
      color: #fff !important;

      &:after {
        color: #fff !important;
      }
    }
  }
}
#customize-control-chosen_pro {
  background: white;
  border: solid 1px $color-gray-85;
  padding: 6px 24px;
  box-sizing: border-box;

  ul {
    list-style: disc;
    padding-left: 15px;
  }
  img {
    position: relative;
    max-width: calc(100% + 48px);
    top: -6px;
    left: -24px;
    border-bottom: solid 1px $color-gray-85;
  }
  .bold {
    font-weight: 600;
    font-size: 16px;
  }
  .button-wrapper {
    text-align: center;
  }
  .chosen-pro-button {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px 24px;
    margin: 12px auto;
    background: #FF931E;
    color: #fff;
    text-decoration: none;
    transition: background 0.2s;

    &:before {
      content: '\f06e';
      font-family: 'FontAwesome';
      margin-right: 6px;
    }

    &:hover,
    &:active,
    &:focus {
      background: #FF8A23;
    }
  }
}