@import "variables";

.upgrades-ad {
  text-align: center;
  border: solid 3px #000;
  padding: 8px 16px 12px;
  margin-bottom: -15px;
  background: white;

  span {
    font-size: 12px;
  }
  a {
    font-weight: 700;
    text-decoration: underline !important;
  }
}
#accordion-section-colors {
  display: none !important;
}