@import "variables";
@import "base";

.mce-content-body.wp-editor {
  margin: 0 24px;
  font-size: 1.0625em;
  line-height: 1.4118;
  -webkit-font-smoothing: subpixel-antialiased !important;
}
// Gutenberg
body {
  font-size: 16px;
  line-height: 1.5;
}
.editor-block-list__layout {
  font-size: 1.0625em;
  line-height: 1.4118;
}
.editor-post-title textarea {
  font-family: $playfair;
  font-weight: 400;
  color: $color-gray-17;
  text-align: center;
}
.wp-block-quote.is-large {
  padding-left: 0;
  border-left: none;
}
.wp-block-embed {
  margin: $baseline-height 0;
}