@import "variables";

//------------------------------------------------------
// Classic editor styles
//------------------------------------------------------

.mce-content-body.wp-editor {
  margin: 0 24px;
  font-size: 1.0625em;
  line-height: 1.4118;
  -webkit-font-smoothing: subpixel-antialiased !important;
}

//------------------------------------------------------
// Basic styles for Gutenberg
//------------------------------------------------------

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: $raleway;
  color: $color-gray-33;
  -webkit-font-smoothing: subpixel-antialiased;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}
p {
  margin: $baseline-height 0;
}
a {
  color: $color-gray-17;
  transition: color 0.1s ease-in-out;

  &:link,
  &:visited {
    color: $color-gray-17;
  }
  &:hover,
  &:active,
  &:focus {
    color: $color-gray-40;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: $playfair;
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: $color-gray-17;
}
h1 {
  @extend %twenty-eight-pixels;
}
h2 {
  @extend %twenty-one-pixels;
}
h3, h4, h5, h6 {
  font-size: 1em;
  line-height: 1.5;
}
ul,
ol {
  font-size: 1em;
  padding: 0;
  margin: $baseline-height;

  ul,ol {
    margin: 0 $baseline-height;
  }
}
ul ul,
ol ol,
ul ol,
ol ul,
li li {
  font-size: 1em;
}

/* Markup styles */

pre {
  word-wrap: break-word;
  white-space: pre-wrap;;
  background: $color-gray-93;
  border: solid 1px $color-gray-87;
  padding: $baseline-height / 2;
}
code {
  background: $color-gray-93;
  padding: 0 $baseline-height / 4;
}
blockquote {
  margin: $baseline-height $baseline-height $baseline-height 0;
  padding-left: $baseline-height;
  border-left: solid 3px $color-gray-23;

  cite {
    display: block;
    text-align: right;
  }
}
hr {
  margin: $baseline-height 0;
}

/* Table styles */
table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: $baseline-height 0;
}
td,
th {
  padding: $baseline-height / 2;
  border: solid 1px $color-gray-87;
}
.wp-block-table {
  margin: 0;

  thead,
  tfoot {
    background: $color-gray-96;
  }
  td,
  th {
    border-color: $color-gray-87;
  }
  figcaption {
    font-size: 12px;
    line-height: 1.5;
    margin: -12px 0 0 0;
    color: $color-gray-23;
    text-align: center;
  }
}
.wp-block-table.is-style-stripes {

  thead {
    background: none;
  }
  td,
  th {
    border-color: $color-gray-87;
  }
}

.alignleft {
  float: left;
  margin: 0 $baseline-height $baseline-height 0;
}
.alignright {
  float: right;
  margin: 0 0 $baseline-height $baseline-height;
}
.aligncenter {
  text-align: center;
  margin: $baseline-height auto;
  display: block;
}
.alignnone {
  margin: $baseline-height 0;
}
img,
.alignright,
.alignleft,
.aligncenter,
.alignnone,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;

  figcaption {
    font-size: 12px;
    line-height: 1.5;
    margin: 3px 0 0 0;
    color: $color-gray-23;
    text-align: center;
  }
}
.wp-block-image {
  line-height: 0;
  margin: 0 auto;
}
.wp-caption-text,
.gallery-caption,
.wp-caption-dd {
  font-size: 12px;
  line-height: 1.5;
  margin: 3px 0 0 0;
  color: $color-gray-23;
  text-align: center;
}
.wp-block {
  max-width: 580px;
}
.wp-block[data-align=wide], 
.wp-block[data-align=full] {
  max-width: none !important;
}
.editor-block-list__layout {
  font-size: 1.0625em;
  line-height: 1.4118;
}
.editor-post-title textarea {
  font-family: $playfair;
  font-weight: 400;
  color: $color-gray-17;
  text-align: center;
}
.wp-block-quote.is-large {
  padding-left: 0;
  border-left: none;
}
.wp-block-embed {
  margin: $baseline-height 0;
}
.has-small-font-size {
  font-size: 12px;
}
.has-regular-font-size {
  font-size: 17px;
}
.has-large-font-size {
  font-size: 28px;
}
.has-extra-large-font-size {
  font-size: 38px;
}
