/*===== Variables =====*/
/* Theme Colors */
/* Media Query widths */
/* Social Media Brand Colors */
/*===== Mixins =====*/
/***** Silent Classes *****/
#accordion-section-ct_chosen_pro .accordion-section-title {
  color: #fff;
  background: #43b3c4;
}
#accordion-section-ct_chosen_pro .accordion-section-title:after {
  color: #fff;
}
#accordion-section-ct_chosen_pro .accordion-section-title:hover, #accordion-section-ct_chosen_pro .accordion-section-title:active, #accordion-section-ct_chosen_pro .accordion-section-title:focus {
  background: #3EA7B8 !important;
  color: #fff !important;
}
#accordion-section-ct_chosen_pro .accordion-section-title:hover:after, #accordion-section-ct_chosen_pro .accordion-section-title:active:after, #accordion-section-ct_chosen_pro .accordion-section-title:focus:after {
  color: #fff !important;
}

#customize-control-chosen_pro {
  background: white;
  border: solid 1px #DEDEDE;
  padding: 6px 24px;
  box-sizing: border-box;
}
#customize-control-chosen_pro ul {
  list-style: disc;
  padding-left: 15px;
}
#customize-control-chosen_pro .bold {
  font-weight: 600;
}
#customize-control-chosen_pro .button-wrapper {
  text-align: center;
}
#customize-control-chosen_pro .chosen-pro-button {
  display: inline-block;
  font-size: 14px;
  padding: 12px 24px;
  margin: 12px auto;
  background: #F4923A;
  color: #fff;
  border-radius: 3px;
  border-left: solid 2px #CC8437;
  border-right: solid 2px #CC8437;
  border-bottom: solid 4px #CC8437;
  text-decoration: none;
}
#customize-control-chosen_pro .chosen-pro-button:hover, #customize-control-chosen_pro .chosen-pro-button:active, #customize-control-chosen_pro .chosen-pro-button:focus {
  background: #ff9233;
}
